*{
	margin:0px auto;
	padding:0px;
	font-size:14px;
	list-style:none;
	font-family: 宋体;
}
.logo{
	width: 1000px;
	height: auto;
	overflow: hidden;
	margin: 0px auto;
}
.logo img{
	margin:0px 5px 0px 5px;
	text-align: left;
}
.sousuo{
	width: 500px;
	height: 36px; 
	line-height: 36px;
	font-weight: bolder;
	margin:1px 0px 5px 50px;
	margin-bottom: 5px;
}
.sousuo_one{
	width: 60px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	margin:0px;
	color: #fff;
	background: #29f;
	position: relative;
	bottom: -3px;
}
.daohang{
	width: 100%;
	height: 40px;
	margin:0 auto;
	padding:0;
	background: #59f;
}
.daohang ul{
	width: 1000px;
	text-align: center;
	margin: 0px auto;
}
.daohang ul li{
	width: 120px;
	height: 40px;
	font-weight: bolder;
	line-height: 40px;
	float: left;
	text-align: center;
	margin: 0px auto;
}
.daohang a{
	width: 100px;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	list-style:none;
}
.daohang a:hover{
	color: #f00;
	background: #acf;
}
.banner img{
	clear: both;
	display: block;
	width: 100%;
	height:auto;
	margin: 0px auto;
	background-repeat: no-repeat;
}
.middle{
	clear: both;
	width: 1000px;
	height: auto;
}
.position{
	margin: 10px;
}
.position a{
	clear: both;
	text-decoration: none;
	color: #666;
}
.position a:hover{
	text-decoration: underline;
	color: #f00;
}
.left1{
	width: 300px;
	height: 560px;
	background-image: url("../images/left.png");
	float: left;
	margin: 0px 0px 10px 0px;
}
.left1 li{
	width: 290px;
	height: 80px;
	text-align: center;
	line-height: 80px;
}
.left1 li a{
	text-decoration: none;
	color: #00f;
	font-size: 18px;
	font-weight: bolder;
}
.left1 li a:hover{
	clear: both;
	background-image: url("../images/fugai.png");
	padding: 30px;
	color: #fff;
	font-weight: bolder;
}
.right{
	width: 688px;
	height: 558px;
	background-image: url("../images/right.png");
	float: left;
	margin: 0px 0px 10px 10px;
	border: 1px solid #acf;
}
.liebiao li{
	width: 600px;
	height: 50px;
	line-height: 50px;
	text-align: left;
}
.liebiao li a{
	
	font: bolder 14px "微软雅黑";
	color: #666;
	text-decoration: none;
}
.liebiao li a:hover{
	text-decoration: underline;
	color: #f00;
}
.left2{
	clear: both;
	width: 300px;
	height: 100px;
	line-height: 100px;
	background-image: url("../images/left.png");
	float: left;
	margin: 0px 0px 10px 0px;
}
.left2 .zhao li{
	font: bolder 18px "宋体";
	color:#0cf;
	text-align: center;
	margin: 15px;
}
.zhao a{
	text-decoration: none;
	color: #f00;
}
.zhao a:hover{
	text-decoration: underline;
	color: #666;
}
.yema{
	width: 690px;
	height: 100px;
	float: left;
	margin: 0px 0px 10px 10px;
	text-align: center;
}
.yema_q{
	float:left;
	width: 40px;
	height: 20px;
	border: 2px solid #acf;
	margin: 10px;
	text-align: center;
	line-height: 20px;
	position: relative;
	top: 20px;
	left: 15px;
}
.lianjie p{
	text-align: center;
	margin: 10px;
	font-size: 18px;
	color: #666;
}
.lianjie a{
	text-decoration: none;
	color: #0cf;
}
.lianjie a:hover{
	text-decoration: underline;
	color: #f00;
}
.yejiao{
	clear: both;
	margin: 0;
	padding: 0;
	background-image: url("../images/lan9.jpg");
	width: 100%;
	height: 100px;
}
.yejiao .p3 p{
	font: bolder 14px "微软雅黑";
	color: #fff;
	text-align: center;
	position: relative;
	top: 20px;
}