*{
	margin:0px auto;
	padding:0px;
	font-size:14px;
	list-style:none;
	font-family: 宋体;
}
.logo{
	width: 1000px;
	height: auto;
	overflow: hidden;
	margin: 0px auto;
}
.logo img{
	margin:0px 5px 0px 5px;
	text-align: left;
}
.sousuo{
	width: 500px;
	height: 36px; 
	line-height: 36px;
	font-weight: bolder;
	margin:1px 0px 5px 50px;
	margin-bottom: 5px;
}
.sousuo_one{
	width: 60px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	margin:0px;
	color: #fff;
	background: #29f;
	position: relative;
	bottom: -3px;
}
.daohang{
	width: 100%;
	height: 40px;
	margin:0 auto;
	padding:0;
	background: #59f;
}
.daohang ul{
	width: 1000px;
	text-align: center;
	margin: 0px auto;
}
.daohang ul li{
	width: 120px;
	height: 40px;
	font-weight: bolder;
	line-height: 40px;
	float: left;
	text-align: center;
	margin: 0px auto;
}
.daohang a{
	width: 100px;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	list-style:none;
}
.daohang a:hover{
	color: #f00;
	background: #acf;
}
.banner img{
	display: block;
	width: 100%;
	height:auto;
	margin: 0px auto;
	background-repeat: no-repeat;
}
.middle{
	clear: both;
	width: 1000px;
	height: auto;
}
.student{
	clear: both;
	width: 300px;
	height: 500px;
	overflow: hidden;
	border:1px solid #acf;
	float: left;
	margin: 10px 10px 10px 0px;
}
.tongzhi1 img{
	width: 300px;
	height: 80px;
}
.ruxue img{
	width: 290px;
	height: auto;
	margin: 5px;
}
.ruxue a:link{opacity: 1;}
.ruxue a:hover{opacity: 0.5;}
.xinsheng li{
	font: 18px "宋体";
	line-height: 1.5;
	text-align: center;
	color: #999;
}
.xinsheng a{
	color: #666;
	text-decoration: none;
}
.xinsheng a:hover{
	text-decoration: underline;
	color: #f00;
}
.junxun{
	width: 686px;
	height: auto;
	border: 1px solid #acf;
	float: left;
	margin: 10px 0px 10px 0px;
}
.junxun h1{
	text-align: center;
	font-size: 32px;
	color:#08f;
	margin: 5px 0px;
}
.junxun .jiao{
	float: right;
	position: relative;
	top: -10px;
}
.junxun .jun img{
	width: 400px;
	height: auto;
	float: left;
	margin:5px;
}
.junxun .jun a:link{opacity: 1;}
.junxun .jun a:hover{opacity: 0.5;}
.tongzhi2 li{
	margin: 10px;
	font: 18px "宋体";
	line-height: 1.5;
	color: #999;
}
.tongzhi2 a{
	color: #666;
	text-decoration: none;
}
.tongzhi2 a:hover{
	text-decoration: underline;
	color: #f00;
}
.tiaozao img{
	width: 684px;
	height: 163px;
	border:1px solid #acf;
}
.shetuan{
	clear: both;
	width: 493px;
	height: 493px;
	overflow: hidden;
	border:1px solid #acf;
	float: left;
}
.shetuan .tu1 img{
	width: 493px;
	height: 100px;
}
.shetuan .tu2 img{
	width: 236px;
	height:150px;
	float: left;
	margin: 5px;
}
.tu a:link{opacity: 1;}
.tu a:hover{opacity: 0.5;}
.shetuan ul li{
	margin: 10px;
	font: 18px "宋体";
	line-height: 1.5;
}
.shetuan a{
	text-decoration: none;
	color: #666;
}
.shetuan a:hover{
	text-decoration: underline;
	color: #f00;
}
.zhiyuan{
	width: 493px;
	height: 493px;
	overflow: hidden;
	border:1px solid #acf;
	float:right;
}
.zhiyuan .tu1 img{
	width: 493px;
	height: 100px;
}
.zhiyuan .tu2 img{
	width: 236px;
	height:150px;
	float: left;
	margin: 5px;
}
.zhiyuan ul li{
	margin: 10px;
	font: 18px "宋体";
	line-height:1.5;
}
.zhiyuan a{
	text-decoration: none;
	color: #666;
}
.zhiyuan a:hover{
	text-decoration: underline;
	color: f00;
}
.biye{
	clear: both;
	width: 1000px;
	height: 500px;
	overflow: hidden;
	border:1px solid #acf;
	float: left;
	margin: 10px 0px 10px 0px;
}
.biye img{
	display: block;
	width: 1000px;
	height: 300px;
}
.biye .tu img{
	display: inline;
	width: 240px;
	height: 190px;
	float: left;
	margin: 5px;
}
.tu a:link{opacity: 1;}
.tu a:hover{opacity: 0.5;}
.yejiao{
	clear: both;
	margin: 0;
	padding: 0;
	background-image: url("../images/lan9.jpg");
	width: 100%;
	height: 100px;
}
.yejiao .p3 p{
	font: bolder 14px "微软雅黑";
	color: #fff;
	text-align: center;
	position: relative;
	top: 20px;
}