h1{
	font-family: '黑体';
	font-weight: bolder;
	text-align: center;
}
h4{
	text-align: center;
	color: #999999;
}
a{
	color: #06F;
}
li{
	font-style: italic;
	color: #01F;
}
h3{
	text-indent: 2em;
}
#blue{
	color: #11F;
	font-weight: bolder;
}
p,li{
	line-height: 150%;
}